/* CSS Reset */

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 95vh;
    width: 95vw;
}

#hamburger {
    display: none;
    background-color: transparent;
    outline: none;
    border: none;
    height: max-content;
}

#hamburger div {
    background-color: black;
    margin: 6px 0;
    width: 35px;
    height: 5px;
}

#hamburger :hover {
    cursor: pointer;
}

#nav {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
}

#navigation {
    display: flex;
    justify-content: center;
}

.logo {
    width: auto;
    height: 49px;
    filter: invert(100%);
}

.navbtn {
    background: transparent;
    padding: 0.8em;
    font-family: "TypoPRO Bebas Neue";
    font-size: 1em;
    border: none;
}

.navbtn:hover {
    cursor: pointer;
    opacity: 0.6;
}

.navbtn:focus {
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}


/* home layout */

#home {
    display: flex;
    height: 120vh;
    width: 100vw;
}

#home .first {
    width: 50vw;
}

.abstract {
    display: flex;
    flex-direction: column;
    background-color: rgb(47 59 86);
    /* position: relative; */
}

.abstract .test {
    position: relative;
    top: 10%;
}

.abstract .test.test2 {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    justify-content: center;
}

.abstract .first.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* navbar styling */

.navbar {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 213, 107);
    align-items: center;
    justify-content: center;
}

.item {
    margin: 0.6em 1em;
}

.nav-image {
    width: 400px;
    height: auto;
    max-width: 100%;
    max-height: 50%;
    display: block;
}


/* project section layout */

#project-menu {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.project-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-head h1 {
    margin-top: 10px;
}

.section-image {
    width: 300px;
    height: auto;
    max-width: 100%;
    max-height: 60%;
    margin: 10px 5px;
    padding: 35px 5px;
}

.more {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.btn {
    font-family: "TypoPRO Bebas Neue";
    padding: 0.4em 0.4em;
    border: 1px solid black;
    font-size: 17px;
    background-color: transparent;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(253, 202, 106);
}

.projects {
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.project-number {
    font-size: 50px;
    z-index: -1;
}

.project {
    font-family: 'Lato', sans-serif;
    width: 25%;
    padding: 1.5em 2.1em;
    margin: 0.9em 0.8em;
    text-align: end;
    position: relative;
    color: rgb(153, 153, 153);
    font-style: italic;
    /* background-color: blanchedalmond; */
}

.project-number {
    position: absolute;
    top: 2%;
    left: 10%;
    font-weight: bold;
    font-family: "Playfair Display";
    font-style: normal;
    font-size: 10em;
    color: rgb(255, 232, 130);
    z-index: -1;
    opacity: 0.6;
}

.project-headings {
    text-align: end;
    margin: 0.8em 0px;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: #263146;
}


/* .more {
    height: 10vh;
} */


/* blog section layout */

#blog {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
}

.blog-intro {
    display: flex;
}

.blog-head,
.read {
    height: 10%;
}

.blog-intro {
    height: 80%;
    display: flex;
    justify-content: space-between;
}

.d-common {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-description {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.blog-description>p {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    text-align: center;
    margin: 1em 2em;
    white-space: pre-line;
}

.blog-image {
    width: auto;
    height: 300px;
    max-width: 100%;
    max-height: 80%;
}

.read {
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.read>button {
    padding: 10px 15px;
    font-size: 17px;
}


/* contact section layout */

#info {
    display: flex;
    background-color: rgb(47 59 86);
    width: 100vw;
}

.d-info {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-text {
    color: rgb(255, 213, 106);
    font-weight: 600;
    margin: 1px 5px;
}

.contact {
    margin: 15px 25px;
    padding: 10px 10px;
}

.freq-contact {
    display: flex;
    align-items: center;
    margin: 4px;
}

.contact-links {
    display: flex;
    margin: 15px 2px;
    max-width: 100%;
}


/* footer */

.foot {
    width: 100vw;
    height: 8vh;
    background-color: rgb(38, 49, 70);
    color: white;
    display: flex;
    align-items: center;
}

foot-paragraph {
    color: rgb(255, 255, 255);
    font-family: 'Allura', cursive;
}


/* utility-classes */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
.main-heading1 {
    position: relative;
    font-family: 'Playfair Display';
    color: rgb(248, 209, 108);
    font-size: 4.3rem;
    margin: 2px 0;
    margin-left: 16%;
    margin-right: 5.2%;
    width: auto;
    background-image: linear-gradient( to right, rgb(255 255 255 / 20%) 0%, rgb(255 255 255 / 20%) 60%, rgb(0 0 0 / 0%) 60%, rgb(0 0 0 / 0%) 100%);
}

.main-heading2 {
    position: relative;
    font-family: 'Playfair Display';
    color: rgb(248, 209, 108);
    font-size: 4.3rem;
    margin: 2px 0;
    margin-left: 16%;
    margin-right: 5.2%;
    width: auto;
    background-image: linear-gradient( to right, rgb(255 255 255 / 20%) 0%, rgb(255 255 255 / 20%) 45%, rgb(0 0 0 / 0%) 40%, rgb(0 0 0 / 0%) 100%);
}

.heading {
    font-family: 'Playfair Display';
    text-align: center;
    text-decoration: underline;
    text-decoration-color: orange;
}

.sub-heading {
    color: rgb(255, 255, 255);
    font-family: "TypoPRO Bebas Neue";
    font-weight: bold;
    margin: 18px;
}

.paragraph {
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 2;
    margin-left: 16%;
    margin-right: 5.2%;
}

.paragraph2 {
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    margin-left: 18px;
}

.icon {
    filter: invert(100%);
    margin: 2px 12px;
}

.icon:hover {
    filter: opacity(60%);
}